@model IS_Project.ViewModels.ReceptasView

@{
    ViewBag.Title = "Remove";
}

<h2>Šalinti receptą</h2>

<h3>Ar tikrai norite pašalinti šį receptą?</h3>
<div>
    <h4>Receptas</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ReceptoNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceptoNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FkVaistasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VaistasList.First(m => m.Value.CompareTo(Convert.ToString(model.FkVaistasId)) == 0).Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FkPacientasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PacientasList.First(m => m.Value.CompareTo(Convert.ToString(model.FkPacientasId)) == 0).Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laikas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laikas)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Atgal į sarašą", "Index", "RecipeSubSystem", new { @class = "btn btn-default" })
        <input type="submit" value="Šalinti" class="btn btn-danger" />
    </div>
    }
</div>
